@using KeyCord3.Models
@{
    ViewData["Title"] = "Index";
}

<partial name="Options" />
<div class="main">

    <div class="content_principal">
        <div class="principal_center">
            <h1>BackOffice</h1>
            <h3 style="align-content:center">Bem vindo @User.Identity.Name</h3>
        </div>
    </div>
</div>