@page
@model RegisterModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Register";
}

<div class="logres-center">
    <h1>Registo</h1>
    <div class="row">
        <div class="col-md-4">
            <form id="registerForm"  asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if(!SignInManager.IsSignedIn(User))
                {
                <div class="form-floating">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.UserName"></label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" />
                    <label asp-for="Input.Name"></label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Address" class="form-control" autocomplete="address" aria-required="true" />
                    <label asp-for="Input.Address"></label>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                }
                @if(this.User.IsInRole("Admin"))
                {
                    <div class="form-floating">
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.UserName"></label>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.Tipo" class ="control-label">Tipo</label>
                        <br/>
                        <select id="Tipo" class="form-control" asp-for="Input.Tipo">
                            <option disabled selected>Select an option</option>
                            <option value="0">Administrador</option>
                            <option value="1">Funcionário</option>
                        </select>
                    </div>
                    <div id="funcionario" style="display:none;">
                        <div class="form-floating">
                            <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" />
                            <label asp-for="Input.Name"></label>
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="name" aria-required="true" />
                            <label asp-for="Input.PhoneNumber"></label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                }
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registo</button>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


<script>
    $('#Tipo').change(function() {
        var selected=$('#Tipo :selected').val();
        if(selected==1)
        {
           $('#funcionario').show();
        }
        else
        {
                $('#funcionario').hide();
        }
    })
</script>

}